
<div>
    <h1 class="title">Why does PDO::fetchAll() on an UPDATE prepared statement causes “unbuffered queries are active” exception?</h1>
</div>

<div>
<table>
    <tr>
        <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_up</mat-icon><br>
            <span class="count">0</span>
            <br>
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
        </td>
            
        <td>
        <div id="content">
         <p>I have run into this issue where a fetchAll() is being called on a prepared statement, with an UPDATE query:
            While researching for causes for the MySQL error 2014 Cannot execute queries while other unbuffered queries are active exception, it seems that this case is not covered on other questions asked here.

            Why would $stmt->fetchAll() on an UPDATE query cause the following exception to happen?
         </p> 
         <div class="tags">
            <a href="" class="post-tag">php</a>&nbsp;&nbsp;
            <a href="" class="post-tag">my sql</a>&nbsp;&nbsp;
            <a href="" class="post-tag">android</a>&nbsp;&nbsp;
            <a href="" class="post-tag">java</a>&nbsp;&nbsp;
            <a href="" class="post-tag">c++</a>&nbsp;&nbsp;
            <a href="" class="post-tag">node js</a> 
          </div>  
        </div>
        
        </td>   
    </tr> 
</table>
</div>

<div>
  <h2 class="title">2 Answers</h2>
</div>

<div>
    <table>
        <tr>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_up</mat-icon><br>
                <span class="count">0</span>
                <br>
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </td>
                
            <td>
            <div id="content">
             <p>I have run into this issue where a fetchAll() is being called on a prepared statement, with an UPDATE query:
                While researching for causes for the MySQL error 2014 Cannot execute queries while other unbuffered queries are active exception, it seems that this case is not covered on other questions asked here.
    
                Why would $stmt->fetchAll() on an UPDATE query cause the following exception to happen?
             </p>   
             </div>
            </td>   
        </tr> 
    </table>
</div>

<div>
    <table>
        <tr>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_up</mat-icon><br>
                <span class="count">0</span>
                <br>
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </td>
                
            <td>
            <div id="content">
             <p>I have run into this issue where a fetchAll() is being called on a prepared statement, with an UPDATE query:
                While researching for causes for the MySQL error 2014 Cannot execute queries while other unbuffered queries are active exception, it seems that this case is not covered on other questions asked here.
    
                Why would $stmt->fetchAll() on an UPDATE query cause the following exception to happen?
             </p>   
             </div>
            </td>   
        </tr> 
    </table>
</div>
